body {
    width : 100vw;
    height : 100vh;
}
.nvbar {
    display : flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-style: solid;
    border-color:#035951;
    border-width: 1px;
}

#nb {
    margin-right : 80px;
}

.nvbar img {
    margin-left : 50px;
}

nav a {
    text-decoration: none;
    color: #035951;
    margin-right : 20px;
}

nav a:hover {
    color : black;
}

#UC {
    color : DarkRed;
    padding-top: 65px;
    padding-bottom: 65px;
    text-align: center;
    font-style: oblique;
    font-size: 50px;
}

.foot {
    display : flex;
    background-color : #035951;
    padding-left : 70px;
    padding-bottom : 10px;
}

.foot h3 {
    padding-top : 20px;
    font-size : 22px;
    color : white;
}

.foot li {
    font-size : 14px;
    color : rgb(236, 235, 235);
}

.foot li a{
    font-size : 14px;
    text-decoration : none;
    color : rgb(236, 235, 235);

}

#ft2 {
    padding-left : 200px;
}

#ft3 {
    padding-left : 200px;
}

#em {
    padding-left : 200px;
    padding-top : 50px;
 }

 #lg {
    padding-left : 45px;
}

#cp {
    background-color: #035951;
    padding-bottom : 7px;
    padding-left : 550px;
    border-top-style: solid;
    border-color : white;
    border-width : 1px;
}

#copy {
    color : white;
    
}