.nvbar {
    display : flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-style: solid;
    border-color:#035951;
    border-width: 1px;
}

#nb {
    margin-right : 80px;
}

.nvbar img {
    margin-left : 50px;
}

nav a {
    text-decoration: none;
    color: #035951;
    margin-right : 20px;
}

nav a:hover {
    color : black;
}

.hero {
    display : flex;
}

#mainh {
    margin-top : 130px;
    margin-left : 70px;
    margin-bottom: 120px;
}

#HT {
    padding-top : 20px;
    margin-bottom: -30px;
    font-size: 20px;
}

#Name {
    margin-bottom: -10px;
    font-size: 55px;
    color : #035951;
}

#para {
    font-size: 18px;
}

#BT {
    margin-top : 20px;
    color : white;
    padding : 15px 27px;
    border-radius : 15px 15px;
    background-color : #035951;
    box-shadow: 0 2px 2px Gainsboro;
}

#BT:hover {
    cursor : pointer;
}

#img {
    margin-left : 330px;
    margin-top : 100px;
    /*border-radius : 50%;*/
    border-radius : 50px 50px;
    box-shadow: 5px 5px 5px Gainsboro;
}

.foot {
    display : flex;
    background-color : #035951;
    padding-left : 70px;
    margin-left : 30px;
    margin-right : 30px;
    padding-bottom : 10px;
}

.foot h3 {
    padding-top : 20px;
    font-size : 22px;
    color : white;
}

.foot li {
    font-size : 14px;
    color : rgb(236, 235, 235);
}

.foot li a{
    font-size : 14px;
    text-decoration : none;
    color : rgb(236, 235, 235);

}

#ft2 {
    padding-left : 200px;
}

#ft3 {
    padding-left : 200px;
}

#cp {
    background-color: #035951;
    margin-left : 30px;
    margin-right : 30px;
    padding-bottom : 7px;
    padding-left : 500px;
    border-top-style: solid;
    border-color : white;
    border-width : 1px;
}

#copy {
    color : white;
    
}